/*------------------------------------*\
    # base.scrollbar
\*------------------------------------*/

::-webkit-scrollbar-track {
    background-color: var(--color-mediumgray);
    height: 15px;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bodybg);
    border: 5px solid transparent;
    border-radius: 15px;
    background-clip: content-box;
}

::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}