/*------------------------------------*\
    # components.overlay
\*------------------------------------*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: var(--color-primary);
    overflow-y: auto;
    transition: 400ms linear all;
    cursor: default;
}
.overlay.ng-show {
    opacity: 1;
}
.overlay.ng-hide {
    opacity: 0;
    margin-top: 2rem;
}
.overlay__content {
    overflow: hidden;
    padding: 1.5rem 2rem;
}
.overlay__close {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: var(--type-xxlarge);
    font-weight: var(--type-light);
    background: none;
    border: none;
    opacity: .4;
    transition: opacity .3s
}
.overlay__close:hover, .overlay__close:focus, .overlay__close:active {
    opacity: 1;
    outline: 0;
}