/*------------------------------------*\
    # components.overlaydata
\*------------------------------------*/

@media all and (--from-mediumsmall) {
    .overlay__data {
        width: 80%;
        margin-left: 5%;
        float: right;
    }
}
@media all and (--from-custlarge) {
    .overlay__data {
        width: calc(100% - 200px);
        margin-left: 50px;
        float: right;
    }
}
.overlay__firstname,
.overlay__lastname {
    display: inline-block;
    font-family: var(--ff-serif);
    font-size: var(--type-large);
    font-weight: var(--type-bold);
    line-height: calc(var(--base-line-height)*1.5);
    color: white;
}
@media all and (--from-mediumsmall) {
    .overlay__firstname,
    .overlay__lastname {
        font-size: var(--type-xxlarge);
        line-height: calc(var(--base-line-height)*2.5);
        display: block;
    }
}
.overlay__country {
    padding: 1.5rem 0;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
}
.overlay__description {
    font-family: var(--ff-serif);
    font-size: var(--type-medium);
    font-style: italic;
    line-height: calc(var(--base-line-height)*1.25);
    max-width: 26em;
}
@media all and (--from-small) {
    .overlay__description {
        font-size: var(--type-large);
        line-height: calc(var(--base-line-height)*1.75);
    }
}
@media all and (--from-custlarge) {
    .overlay__description {
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*2.25);
    }
}
.overlay__section {
    border-bottom: 1px solid color(black a(0.1));
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.overlay__section__title {
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: var(--type-small);
    letter-spacing: .1em;
    color: white;
}
.list {
    font-family: var(--ff-alt);
    font-size: var(--type-small);
}
.overlay__section .list--work:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed color(black a(0.1));
}
.list__item {
    display: table;
    width: 100%;
}
.list__label {
    display: table-cell;
    vertical-align: top;
    width: 10em;
    font-family: var(--ff-sans);
}
.list__value {
    display: table-cell;
}
.list__paragraph {
    display: inline-block;
    max-width: 40em;
}
.skill__item {
    display: inline-block;
    margin-right: .75em;
    padding: .1em .5em;
    font-size: var(--type-small);
    color: var(--color-mediumgray);
    background-color: white;
    opacity: .8;
    border-radius: 2px;
}