/*------------------------------------*\
    # components.overlayavatar
\*------------------------------------*/

.overlay__avatar {
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 7em;
    overflow: hidden;
    border-radius: var(--global-rounded);
}
@media all and (--from-mediumsmall) {
    .overlay__avatar {
        width: 15%;
        float: left;
        max-width: 7.5em;
    }
}
@media all and (--from-custlarge) {
    .overlay__avatar {
        width: 200px;
        float: left;
    }
}