<div class="profile-grid">
    <section class="profile profile-grid__item" ng-repeat="profile in profiles.item">
        <div class="profile__content">
            <div class="profile__avatar"><img src="assets/img/avatar1.jpg" alt="{{profile.firstName}} {{profile.lastName}}"></div>
            <div class="profile__firstname">{{profile.firstName}}</div>
            <div class="profile__lastname">{{profile.lastName}}</div>
            <div class="profile__country" ng-if="profile.country.length">{{profile.country}}</div>
            <div class="profile__description" ng-if="profile.aboutMySelf.length">{{profile.aboutMySelf}}</div>
            <div class="profile__social"></div>
        </div>
        <span class="profile__label">Profile card &mdash;</span>
        <!-- <ul>
            <li>Display name: {{profile.displayName}}</li>
            <li>Member since: {{profile.dateCreated | date: 'mediumDate' }}</li>
            <li ng-if="profile.address.length">{{profile.address}}</li>
            <li ng-if="profile.address.length">{{profile.zipCode}}</li>
            <li ng-if="profile.city.length">{{profile.city}}</li>
            <li></li>
            <li ng-if="profile.mobilePhone.length" >Mobile: {{profile.mobilePhone}}</li>
            <li>Bio: </li>
            <li ng-if="profile.dob.length">Date of Birth: {{profile.dob | date: 'MMM d, y' }}</li>
        </ul>
        <a ui-sref="master.profile-detail({profileId : profile.id})">View Profile</a> -->
    </section>
</div>

<pager pager-data="profiles.pagerData" ng-show="profiles.pagerData.hasPrevious || profiles.pagerData.hasNext" class="pager">
    <hr>
    <a ui-sref="master.main.index({ page: profiles.pagerData.currentPage - 1})" class="btn btn--light btn--med rounded" ng-show="profiles.pagerData.hasPrevious">Prev</a>
    <a ui-sref="master.main.index({ page: profiles.pagerData.currentPage + 1})" class="btn btn--light btn--med rounded" ng-show="profiles.pagerData.hasNext">Next</a>
</pager>
