/*------------------------------------*\
    # components.profilelist
\*------------------------------------*/

.profile {
    position: relative;
    margin: 2rem 0;
    background-color: var(--color-primary);
    box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s;
}

.profile:hover {
    box-shadow: 0px 2px 35px 14px rgba(0, 0, 0, 0.2);
}

.profile__content {
    overflow: hidden;
}

.profile__avatar {
    display: inline-block;
    overflow: hidden;
    border-radius: var(--global-rounded);
    margin-bottom: 1rem;
}

.profile__data {

}

.profile__firstname,
.profile__lastname {
    font-family: var(--ff-serif);
    font-weight: var(--type-bold);
    color: white;
}

.profile__firstname {
    padding-right: .4rem;
}

.profile__lastname:after {
    content: " \2014";
    font-weight: var(--type-regular);
}

.profile__country {
    padding: 1.5rem 0;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
}

.profile__description {
    font-family: var(--ff-alt);
    font-size: var(--type-small);
}

.profile__social {
    margin-top: 2rem;
}

.profile__social__link {
    padding: 0 .25rem;
}

.profile__label {
    position: absolute;
    left: -1.5rem;
    bottom: 4rem;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    transform: rotate(-90deg);
    opacity: .25;
}