/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search {
    margin-top: 2rem;
    position: relative;
}
/*.search__result {
    margin-bottom: 2rem;
}
.search__result-holder {
    border-top: 1px solid var(--color-ultralight);
}
.search__date {
    display: block;
    font-family: var(--ff-sans);
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--color-grey);
}*/
