/*------------------------------------*\
    # components.profilelist
\*------------------------------------*/

.profile {
    position: relative;
    background-color: var(--color-primary);
    box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.1);
}

.profile__content {
    padding: 3rem 4rem;
}

.profile__avatar {
    display: inline-block;
    border-radius: var(--global-rounded);
    overflow: hidden;
    max-width: 9rem;
}

.profile__firstname,
.profile__lastname {
    font-family: var(--ff-serif);
    font-size: var(--type-xxlarge);
    font-weight: var(--type-bold);
    line-height: calc(var(--base-line-height)*2);
    color: white;
}

.profile__lastname:after {
    content: " \2014";
    font-weight: var(--type-regular);
}

.profile__country {
    padding: 1.5rem 0;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
}

.profile__description {
    font-family: var(--ff-alt);
    font-size: var(--type-small);
}

.profile__label {
    position: absolute;
    left: -1.5rem;
    bottom: 4rem;
    font-size: var(--type-tiny);
    text-transform: uppercase;
    transform: rotate(-90deg);
    opacity: .25;
}