/*------------------------------------*\
    # components.profilegrid
\*------------------------------------*/

.profile__firstname,
.profile__lastname {
    display: inline-block;
    font-size: var(--type-large);
    line-height: calc(var(--base-line-height)*1.5);
}

.profile__avatar {
    max-width: 7em;
}

.profile__content {
    padding: 1.5rem 2rem;
}

.profile__label {
    display: none;
}

@media all and (--from-mediumsmall) {

    .profile__content {
        padding: 3rem 4rem;
    }

    .profile__avatar {
        width: 25%;
        float: left;
    }

    .profile__data {
        width: 60%;
        margin-left: 15%;
        float: right;
    }

    .profile__social {
        position: absolute;
        bottom: 2rem;
        left: 5rem;
    }

    .profile__firstname,
    .profile__lastname {
        font-size: var(--type-xxlarge);
        line-height: calc(var(--base-line-height)*2);
    }

    .profile__avatar {
        max-width: 9em;
    }

    .profile__label {
        display: block;
    }
}

@media all and (--from-large) {
    .profile-grid__item {
        width: 47.5%;
        float: left;
    }

    .profile-grid__item:nth-child(2) {
        margin-left: 5%;
    }

    .profile__firstname,
    .profile__lastname {
        display: block;
    }

    .profile__avatar {
        width: 25%;
        float: none;
    }

    .profile__data {
        width: auto;
        margin-left: 0;
        float: none;
    }

    .profile__social {
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media all and (--from-custlarge) {
    .profile {
        height: 420px;
    }

    .profile__avatar {
        width: 25%;
        float: left;
    }

    .profile__data {
        width: 60%;
        margin-left: 15%;
        float: right;
    }

    .profile__social {
        position: absolute;
        bottom: 2rem;
        left: 5rem;
    }
}

