/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input--search {
    display: inline-block;
    width: 100%;
    cursor: text;
    border: 0;
    background: transparent;
    transition: all .2s;
    padding: 0 2rem .25rem 0;
    line-height: 1.5rem;
    overflow: hidden;
    appearance: none !important;
    border-radius: 0;
    border-bottom: 1px solid var(--color-mediumgray);
}
.input--search:hover,
.input--search:focus,
.input--search:active {
    outline: 0;
    border-color: var(--color-light);
}
.input--search::placeholder {
    color: var(--color-mediumgray);
    transition: all .2s;
}
.input--search:hover::placeholder,
.input--search:focus::placeholder {
    color: var(--color-light);
}
.input--search:focus {
    padding: 0rem 2rem .25rem 1rem;
    transition: all .2s;
}