/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

:root {
    --color-dodgerblue:  #2f62fe;
    
    --color-orange:      #F75E00;
    --color-citrus:      #B3CE00;
    --color-torchred:    #FF0043;
    --color-malachite:   #00D369;
    --color-nero:        #2b2b2b;
    --color-nightrider:  #333;
    --color-corn:        #e3b100;

    --color-primary:     var(--color-dodgerblue);
    --color-secondary:   var(--color-corn);

    --color-bodybg:     #2f3a4c;
    --color-ultralight: #ddd;
    --color-light:      #999;
    --color-grey:       #c7c7c7;
    --color-mediumgray: #555;
    --color-dark:       #222;
    --color-darkgrey:   #333;

    --color-warning:     var(--color-torchred);
    --color-success:     var(--color-malachite);
    --color-note:        var(--color-orange);
}